<nav>
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Forums</li>
    </ul>
</nav>

<div id="unseen-forums">
<table class="table table-striped table-bordered">
  <thead style="background-color: #d4d4d4">
  <tr >
    <th width="70%">Forum Name</th>
    <th width="30%">Last Active</th>
  </tr>
</thead>
<tbody class="table-bordered">
  <% @forums.each do |forum| %>
    <tr>
      <td>
        <div><a href="/forums/<%= forum.id %>"><%= forum.name %></a></div>
        <div><%= meta_for(forum) %></div> 
      </td>
      <td>
           <div><%= forum_latest_active_for(forum) %><div>
           <cite><%= forum_latest_user_for(forum) %></cite>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

