<h1>Listing topics</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Description</th>
    <th>Status</th>
    <th>User</th>
    <th>Forum</th>
    <th>Vote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.subject %></td>
    <td><%= topic.description %></td>
    <td><%= topic.status %></td>
    <td><%= topic.user_id %></td>
    <td><%= topic.forum_id %></td>
    <td><%= topic.vote %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
