<!--Display the breadcumb-->
<ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/courses">Learn Courses</a> <span class="divider">/</span></li>
        <li class="active"><%=@course[:name].capitalize%></li>
</ul>

<div class="row-fluid">
  <div class="span6 course" id="<%=@course[:id]%>">
    <div class="accordion" id="accordion">
      <!--Sections-->
      <% if @sections.nil? %>
      	<div><h5>Comming Soon</h5></div>
      <%else%>
	      <% @sections.each do |section| %>
	      <div class="accordion-group">
	        <div class="accordion-heading">
	          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=section[:id]%>">
	            <h5><%=section[:name]%></h5>
	          </a>
	        </div>
	        
	        <div id="collapse<%=section[:id]%>" class="accordion-body collapse <%= "in" if @count == 0 %>">
	        <%@count=@count+1%>	
	          <div class="accordion-inner">
	            <%=section[:description]%>
	            <%if section[:code].present?%>
	            	<pre class="pre-scrollable pre-hori">
<%= section[:code]%>
	            	</pre>
	            <%end%>
	          </div>
	        </div>
	      </div>
	      <%end%>
      <%end%>
    </div><!--end-->
  </div><!--end span-->
  
   <div class="span6">
    <legend>Animation
    <%if @forum.present?%>	
    	<a class="btn btn-danger forum pull-right" href="/forums/<%=@forum.id%>">Q&A Forum</a>
    <%end%>
  </legend>
    
<%if @course[:name] == "bst"%>
  <%= render 'courses/animations/btree'%>
<%else%>
  <%= render 'courses/animations/'+ @course[:name] %>
<%end%>

  <div id="notes">
    <legend>Notes</legend>
    <div><p class="text-success" id="notice"></p></div>
<textarea class="content" style="width:98%" rows="5"><%= @note.content if @note.present?%>  
</textarea> 
<a class="btn btn-primary notes" id="<%= @note.id if @note.present?%>">Add/Update</a>
  </div>
    


</div><!--end row-fluid-->
